.sem_div{
    width: 200px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    place-items: center;
    margin: 10px;
    box-shadow: 2px 2px 5px 1px rgba($color: #000, $alpha: 0.5);
    cursor: pointer;
    transition: 0.2s;

    h2{
        color: #898989;
    }
}
.sem_div:hover{
    transform: translate(0,-10px);
}
a{
    text-decoration: none;
}
@media (max-width:500px){
    .sem_div{
        width: 200px;
        height: 140px;
        h2{
            font-size: 18px;
        }
    }
}

