.navbar{
    background-color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba($color: #000, $alpha: 0.5);
    .logo_nav{
        display: flex;
        align-items: center;
        cursor: pointer;
        h2{
            margin-left: 10px;
        }
    }
    img{
        width: 60px;
    }
    .links_nav{
        display: flex;
        a{
            text-decoration: none;
            color: currentColor;
        }
        h4{
            margin-right: 20px;
            padding: 10px;
            transition: 0.2s;
            border-radius: 5px;
            cursor: pointer;

        }
        h4:hover{
            background-color: #e5e5e5;
        }
    }
}

@media (max-width:550px){
    .navbar{
        display: grid;
        justify-content: center;
    }
}